<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="JSmyweb.js"></script>
    <link rel="stylesheet" href="myWeb.css">
    <title>HomePage</title>
</head>
<body >

    <nav class="topNav">
        <ul>
            <li><a href="HomePage.html">Home</a></li>
            <li><a href="ContactPage.html">Contact Us</a></li>
        </ul>
    </nav>
    <header class="header">
        <img src="../static/earth.png" class="earth">
        <h1 class="headerText">Welcome To Tal's Homepage</h1>
        <p class="headerText">Hope you enjoy while visiting our site.</p>      
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="Info">
        <p>Want to know more?</p>
        <p>Feel free to contact us </p>
        </div>
    <br>
    <br>
    <br>
    <div id="wrapper">
        <div id="Jordan" class="view"></div>
        <div id="Alps" class="view"></div>
        <div id="NewZealand" class="view"></div>
        <div id="Israel" class="view"></div>
    </div>
    


  

</body>
</html>