<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body style="background-color:  rgba(191, 81, 81, 0.39); font-family: Monospace; margin:0;">
    <header class="header">
        <h1>Tal's WEB</h1>
    </header>
    <div style="padding: 50px; text-align: center; background-color: #474e5d; color: beige;">
        <h1>Welcome To Tal's Homepage</h1>
        <p>Hope you enjoy while visiting our site.</p>
    </div>
    <div>
    
    <aside style=" float:left;">
        <dl>
            <dt>History</dt>
            <br><br>
            <dd>- Snoopy was born on october 4, 1950</dd>
            <br>
            <dd>- He was originally Patty's dog</dd>
            <br>
            <dd>- Between the years 1992 - 1995, the series Snoopy appeared in Hebrew in the bi-weekly "Comics Newspaper"</dd>
            <br> <br>
            <dt>Family and personal life</dt> <br>
            <dd>- Snoopy have 7 sisters and brothers</dd>
        </dl>
    </aside>
    <figure>
        <img src="../static/snoopyWelcome.png" style="height:180px; border-radius: 40%; border: 10px solid #FEDE00;" alt="This is a small profile image of Digital Ocean’s mascot, a blue smiling shark.">
        <figcaption><i>fig. 1</i> meet our manager-Snoopy.</figcaption>
    </figure>

  

<footer>
    <nav>
        <a href="Untitled-2.html">Contant Us Page</a> |
    
    </nav>
</footer>
</div>

</body>
</html>