<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us Page</title>
</head>
<body style="background-color: rgba(69, 137, 91, 0.377); font-family: Monospace;">
  <header class="header">
    <h1>Tal's WEB</h1>
  </header>
        <div style="text-align:center">
          <h1 style="color: rgb(179, 81, 81); font-size: 80px; font-family: Monospace;" >Contact Us</h1>
          <p id="text1">Swing by for a cup of coffee, or leave us a message:</p>
            <img src="../static/snopy.jpg" style=" background-color: lightgrey;
            width: 250px;
            border: 5px solid rgb(210, 96, 96);
            padding: 10px;
            margin: 10px;">
          
            <form action="/action_page.php">
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name.."> <br><br>
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name.."> <br><br>
              <label for="email">Enter your email:</label>
              <input type="email" id="email" name="email" placeholder="Your Email.."> <br> <br>
              <span style="border: 1px solid rgba(0, 0, 0, 0.301)">
                <label for="radio">Male</label>
                <input type="radio" name="radio" id="radio">
                <label for="radio">Female</label>
                <input type="radio" name="radio" id="radio">
              </span>
            <br>
            <br>
              <label for="country">Country</label>
              <select id="country" name="country">
                <option value="Israel">Israel</option>
                <option value="Canada">Canada</option>
                <option value="USA">USA</option>
                <option value="UK">UK</option>
              </select> <br> <br> <br>
            </form>
            <button onclick="displayResult()">Submit</button>
            
            <script>
              
              function displayResult() {
                
              document.getElementById("text1").innerHTML = "we will keep in touch!" ;}
             </script>
           
        </div>
    <nav>
        <a href="HomePage.html">Back to home page</a> |
    
    </nav>
</body>
</html>