<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="JSmyweb.js"></script>
    <link rel="stylesheet" href="myWeb.css">
    <title>Contact Us Page</title>
</head>
<body>
  <nav class="topNav">
    <ul>
        <li><a href="HomePage.html">Home</a></li>
        <li><a href="Untitled-2.html">Contact Us</a></li>
    </ul>
</nav>
  <header class="header">
    <h1>Contact Us</h1>
  </header>
        <div class="FormCont">
          
          
          <p id="text1">Swing by for a cup of coffee, or leave us a message:</p>
            <img src="../static/contact.jpg" id="imgContact">
          
            <form action="/action_page.php">
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name.."> <br><br>
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name.."> <br><br>
              <label for="email">Enter your email:</label>
              <input type="email" id="email" name="email" placeholder="Your Email.."> <br> <br>
              <span style="border: 1px solid rgba(0, 0, 0, 0.301)">
                <label for="radio">Male</label>
                <input type="radio" name="radio" id="radio">
                <label for="radio">Female</label>
                <input type="radio" name="radio" id="radio">
              </span>
            <br>
            <br>
              <label for="country">Country</label>
              <select id="country" name="country">
                <option value="Israel">Israel</option>
                <option value="Canada">Canada</option>
                <option value="USA">USA</option>
                <option value="UK">UK</option>
              </select> <br> <br> <br>
            </form>
            <button id="btn1" onclick="myFunction()">Submit</button>
           
            <div  id="try1">
              <div class="wave"></div>
              <div class="wave"></div>
              <div class="wave"></div>
              <div class="wave"></div>
              <div class="wave"></div>
              <div class="wave"></div>
              <div class="wave"></div>
              <div class="wave"></div>
              <div class="wave"></div>
              
            </div>
              
              <div id="sent">Your request has been sent</div>
              <br>
              <br><br>
              <br>
              <br><br>
              
          
            
            
           
        </div>

</body>
</html>